Photo Life Blazor/obj/Debug/net6.0/staticwebassets.pack.json
Photo Life Blazor/obj/Debug/net6.0/staticwebassets/msbuild.build.Photo Life Blazor.props
Photo Life Blazor/bin/Debug/net6.0/Photo Life Blazor.pdb
Photo Life Blazor/bin/
Photo Life Blazor/obj/
Photo Life Blazor/Constants.cs
Photo Life Blazor/Photos/
.vs/Photo Life Blazor/DesignTimeBuild/
.vs/Photo Life Blazor/FileContentIndex/
.vs/ProjectEvaluation/
.vs/Photo Life Blazor/v17/
.vs/
metadata_extractor/metadata_extractor/obj/
/.vs/Photo Life Blazor/v17/.suo
ProfileMaker/bin/
ProfileMaker/obj/
