Photo Life Blazor/obj/Debug/net6.0/staticwebassets.pack.json
Photo Life Blazor/obj/Debug/net6.0/staticwebassets/msbuild.build.Photo Life Blazor.props
Photo Life Blazor/bin/Debug/net6.0/Photo Life Blazor.pdb
Photo Life Blazor/bin/
Photo Life Blazor/obj/
Photo Life Blazor/Constants.cs
metadata_extractor\bin\Debug\net6.0\appsettings.json