<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://cs.carleton.edu/cs_comps/2324/photoLife/index.php">PhotoLife Comps</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="extractor">
                <span class="oi oi-camera-slr"  aria-hidden="true"></span> Metadata Extractor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="album">
                <span class="oi oi-folder" aria-hidden="true"></span> Album Generator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maker">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Profile Maker
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
