@page "/album"
@inject NavigationManager NavigationManager

<PageTitle>PhotoLife: Metadata Upload</PageTitle>

<div class="text-center">
    <div class="text-center my-2">
        <h1>Album</h1>
        <h5>Choose one of the options below as a category to create new albums with your photos.</h5>
    </div>
    <div>
        <label for="Select Category:">
            <InputSelect @bind-Value="selectedOption">
                <option value="">--</option>
                <option value="tags">Tags</option>
                <option value="location">Location</option>
                <option value="timeOfDay">Time Of Day</option>
            </InputSelect>
        </label>
    </div>
    @if (selectedOption != "")
    {
        <p>@selectedOption</p>
    }
</div>

@code {
    private string selectedOption = "";
}