@using Photo_Life_Blazor.Services
@page "/extractor"
@inject NavigationManager NavigationManager
@inject GoogleService GoogleServices

<PageTitle>PhotoLife: Metadata Upload</PageTitle>

<div class="text-center my-2">
    <div class="sliding">
        <div class="p-2 slide">
            <h1>Step 1: Metadata Extractor</h1>
            <h5>
                To start, please navigate to your Google Drive and create/update a folder labeled 'PhotoLife' where all the desired
                photos you wish to upload can be placed. We kindly request that you include a minimum of 5 photos in this folder. 
                Afterwards, proceed to sign into your Google Drive using the button provided below to grant our program access to 
                the photos stored within said folder.<br />
                Acceptable file types: {.png, .jpg, .heic}

            </h5>
            <div class="align-content-center justify-content-center">
                <button class="btn btn-main" @onclick="googleDrive" style="font-size: 22px;"><h4>Sign Into Google</h4></button>
            </div>
        </div>
        <div class="p-2 slide delay">
            <h1>Step 2: Analyzing The Data</h1>
            <h5>
                With the photos you provided, you can either: <br />
                1) Generate Albums based on specific filter options. [Left]
                <br />OR<br />
                2) Create a Profile based on your photo metadata charateristics. [Right]
                <br />Please click on an option below:
            </h5>
            <div class="container">
                <div class="album">
                    <div class="p-lg-4">
                        <button class="btn btn-default btn-main" @onclick="NavigateToAlbum"><h4>Generate Album</h4></button>
                    </div>
                </div>
                <div class="profile">
                    <div class="p-lg-4">
                        <button class="btn btn-default btn-main" @onclick="NavigateToProfile"><h4>Generate Profile</h4></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // take user email WITHOUT the @
    private string user = "champlisst";

    private async void googleDrive()
    {
        user = await GoogleServices.setUp();
        await GoogleServices.getUserPhotos();
    }
    private void NavigateToAlbum()
    {
        NavigationManager.NavigateTo($"/album/{user}");
    }
    private void NavigateToProfile()
    {
        NavigationManager.NavigateTo($"/profile/{user}");
    }
}