@using Photo_Life_Blazor.Services
@page "/extractor"
@inject NavigationManager NavigationManager
@inject GoogleService GoogleServices

<PageTitle>PhotoLife: Metadata Upload</PageTitle>

<div class="text-center my-2">
    <div class="sliding">
        <div class="p-2 slide">
            <h1>Step 1: Metadata Extractor</h1>
            <h5>
                Sign into your Google Drive to upload photos you would like to upload. Minimum of 2 photos and Maximum of {NUMBER} photos.
                Create a folder called 'PhotoLife' and put all of the pictures you want to use in it for easier uploading.
                Acceptable file types: {.jpg, .heic}
            </h5>
<<<<<<< HEAD
            <div class="login align-content-center justify-content-center">
                <button @onclick="@googleDrive">Google Drive</button>
=======
            <div class="align-content-center justify-content-center">
                <button class="btn btn-default btn-main" @onclick="googleDrive" style="font-size: 22px;">Sign Into Google</button>
>>>>>>> 8bd7b4864a8ca4bb4eaf57b33090e62d3b932362
            </div>
        </div>
        <div class="p-2 slide delay">
            <h1>Step 2: Analyzing The Data</h1>
            <h5>
                With the photos you uploaded, you can either: <br />
                1) Generate Albums based on a certain category (such as location)
                <br />OR<br />
                2) Ask for a Profile that can tell you characteristics about the group of photos you selected. Please select an option below:
            </h5>
            <div class="container">
                <div class="album">
                    <div class="p-lg-4">
                        <button class="btn btn-default btn-main" @onclick="NavigateToAlbum"><h4>Generate Album</h4></button>
                    </div>
                </div>
                <div class="profile">
                    <div class="p-lg-4">
                        <button class="btn btn-default btn-main" @onclick="NavigateToProfile"><h4>Generate Profile</h4></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
<<<<<<< HEAD
    private async Task googleDrive()
    {
        Console.WriteLine("Google Drive");
=======
    private async void googleDrive()
    {
>>>>>>> 8bd7b4864a8ca4bb4eaf57b33090e62d3b932362
        await GoogleServices.getUserPhotos();
    }
    private void NavigateToAlbum()
    {
        NavigationManager.NavigateTo("/album");
    }
    private void NavigateToProfile()
    {
        NavigationManager.NavigateTo("/profile");
    }
}