@page "/download"
@inject IJSRuntime JSRuntime

<PageTitle>PhotoLife: New Album</PageTitle>

@* Title and Description *@
<div class="text-center my-2">
    <h1>Albums Requested Generated:</h1>
    <h5>Please click on the button under the ZIP folder you want to download.
    </h5>
</div>
<br />

<div class="downloads">
    <p>Folder Name</p>
    <button @onclick="DownloadFolder"><span class="oi oi-data-transfer-download" aria-hidden="true"></span> Download</button>
    <p>Folder Name</p>
    <button @onclick="DownloadFolder"><span class="oi oi-data-transfer-download" aria-hidden="true"></span> Download</button>
    <p>Folder Name</p>
    <button @onclick="DownloadFolder"><span class="oi oi-data-transfer-download" aria-hidden="true"></span> Download</button>
</div>


@code {
    private async Task DownloadFolder()
    {
        string folderPath = "/path/to/folder";
        string zipPath = "/path/to/zipfile.zip";
        await JSRuntime.InvokeVoidAsync("createZip", folderPath, zipPath);
        await JSRuntime.InvokeVoidAsync("downloadFile", zipPath);
    }
}
