<PageTitle>PhotoLife: New Album</PageTitle>

@* Title and Description *@
<div class="text-center my-2">
    <h1>Albums Requested Generated:</h1>
    <h5>Please click on the button under the ZIP folder you want to download.
    </h5>
</div>
<br />
