@page "/profile"
@inject NavigationManager NavigationManager

<PageTitle>PhotoLife: Profile Maker</PageTitle>

@* Title and Description *@
<div class="text-center my-2">
    <h1>Profile Maker</h1>
    <h5>
        Please upload a minimum of * photos (of file extension .HEIC or .EXIF) to generate a profile based on the photos
        you selected. Each profile is unique to the photos you selected and can be based on: photo style, frequency of photos,
        frequency of location shots, etc. Number of photos should not exceed * files.
    </h5>
</div>

@code {
}