@page "/profile"

<PageTitle>PhotoLife: New Profile</PageTitle>

@* Title and Description *@
<div class="text-center my-2">
    <h1>New Profile Generated...</h1>
    <p>The photos you uploaded reveal that ...</p>
</div>
<br />